<div class="panel CartOverlay">
  <div class="co-content">
    <div class="cart-panel">
      <section class="cart">
        <header>
          <h3>{{ 'cart.general.title' | t }}</h3>
          <a class="close">
            <span class="line one"></span>
            <span class="line two"></span>
          </a>
          <p>{{ 'cart.general.message' | t }}</p>
        </header>
        <div class="Order">
          <div class="co-content cart-contents">
            <form>
              <div class="item-list">
                <ul>
                  <li class="line-item product" data-product-id="" data-master-id="" data-variant-id-1="" data-variant-id-3="">
                    <span class="item-img">
                      <a href=""><img alt="gray" src="" /></a>
                    </span>
                    <div class="item-contents">
                      <div class="item-upper">
                        <span class="item-name">
                          <a href=""></a>
                        </span>
                        <span class="cart-item-price">
                          <span class="value"></span>
                        </span>
                      </div>
                      <div class="item-lower">
                        <div class="actions-nav">
                          <span class="cart-item-total">
                            <span class="value"></span>
                          </span> 
                          <span class="delete cart-item-delete"><a class="delete remove-btn icon-nav-close" href="#">Remove</a></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="cta-block desktop" style="display: none;">
                <div class="cart-info">
                  <div class="cart-totals">

                    <div class="costs">
                      <p>Promo codes applied at checkout.</p>
                      <div class="subtotal">
                        <span class="title">Subtotal</span>
                        <span class="value">$0.00</span>
                      </div>
                      <div class="shipping">
                        <span class="title">Shipping</span>
                        <span class="value">Free</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-block">
                  <a class="button outline large checkout" href="/checkout">{% include 'icon-lock'%}CHECKOUT</a>
                </div>
                <div class="product-derisk">
                  {{ shop.metafields.custom_fields["purchase_derisk_text"] }}
                </div>
              </div>

              <div class="cta-block mobile">
                <div class="cart-info">
                  
                  <div class="cart-totals">
                    <div class="costs">
                      <p>Promo codes applied at checkout.</p>
                      <div class="subtotal">
                        <span class="title">Subtotal</span>
                        <span class="value">$0.00</span>
                      </div>
                      <div class="shipping">
                        <span class="title">Shipping</span>
                        <span class="value bold">Free</span>
                      </div>
                      <div class="total">
                        <span class="title bold">Total</span>
                        <span class="value bold">$0.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-block">
                  <a class="button outline large" href="/checkout">CHECKOUT</a>
                  <a class="text-link continue-shopping" href="/collections">CONTINUE SHOPPING</a>
                </div>
                <div class="product-derisk">
                  {{ shop.metafields.custom_fields["purchase_derisk_text"] }}
                </div>
              </div>
            </form>
          </div>
        </section>
        <div class="empty">
          <p>There’s nothing in your cart yet.</p>
          <a class="button outline large light" href="/collections">Start Shopping</a>
        </div>
      </div>
    </div>
  </div>
</div>