{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.benefit_section_title' %}
  {% include 'custom_fields.collections.benefit_section_disclaimer' %}
  {% include 'custom_fields.collections.benefits' %}
  {% include 'custom_fields.collections.open_graph_title' %}
  {% include 'custom_fields.collections.open_graph_description' %}
  {% include 'custom_fields.collections.open_graph_image' %}
  {% include 'custom_fields.collections.benefit_collection_title' %}
  {% include 'custom_fields.collections.benefit_collection_description' %}
  {% include 'custom_fields.collections.benefit_collection_icons' %}
  {% include 'custom_fields.collections.collection_testimonials' %}
  {% include 'custom_fields.collections.best_results_title' %}
  {% include 'custom_fields.collections.best_results_content' %}
</div>