{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/155702/edit
{% endcomment %}
{% if shop.metafields.custom_fields["mm_wind_down_img_m"] != blank %}
  <div class="custom-field custom-field__mm-wind-down-img-m custom-field__type--image">
    <h3 class="custom-field--title">Mega Menu Wind Down Image Mobile</h3>
    <div class="custom-field--value">  
      {% include 'cf-image' with image: shop.metafields.custom_fields["mm_wind_down_img_m"] %}
    </div>
  </div>
{% endif %}