{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/products/configure/95594/edit
{% endcomment %}
{% if product.metafields.custom_fields["tips_title"] != blank %}
  <div class="custom-field custom-field__tips-title custom-field__type--text">
    <h3 class="custom-field--title">Tips Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["tips_title"] }}
    </div>
  </div>
{% endif %}