{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/152541/edit
{% endcomment %}
{% if shop.metafields.custom_fields["risk_reducer_icon_url"] != blank %}
  <div class="custom-field custom-field__risk-reducer-icon-url custom-field__type--url">
    <h3 class="custom-field--title">Risk Reducer Icon URL</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["risk_reducer_icon_url"] }}
    </div>
  </div>
{% endif %}