{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/154753/edit
{% endcomment %}
{% if shop.metafields.custom_fields["mega_menu_learn_img_url"] != blank %}
  <div class="custom-field custom-field__mega-menu-learn-img-url custom-field__type--url">
    <h3 class="custom-field--title">Mega Menu Learn Image URL</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["mega_menu_learn_img_url"] }}
    </div>
  </div>
{% endif %}