{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/146900/edit
{% endcomment %}
{% if shop.metafields.custom_fields["mega_menu_charge_up_subt"] != blank %}
  <div class="custom-field custom-field__mega-menu-charge-up-subt custom-field__type--text">
    <h3 class="custom-field--title">Mega Menu Charge Up Subtitle</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["mega_menu_charge_up_subt"] }}
    </div>
  </div>
{% endif %}