{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/pages/configure/107791/edit
{% endcomment %}
{% if page.metafields.custom_fields["recycle_methods"] != blank %}
  <div class="custom-field custom-field__recycle-methods custom-field__type--field-collection">
    <h3 class="custom-field--title">Recycle Methods</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign recycle_method_title_array = page.metafields.custom_fields["recycle_method_title"] | split: separator %}
      {% assign recycle_method_description_array = page.metafields.custom_fields["recycle_method_description"] | split: separator %}
      {% assign recycle_method_image_array = page.metafields.custom_fields["recycle_method_image"] | split: separator %}
      {% assign fc_keys = page.metafields.custom_fields["recycle_methods"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__recycle-method-title">
            {{ recycle_method_title_array[index] }}
          </div>
          <div class="fc-field field__recycle-method-description">
            {{ recycle_method_description_array[index] }}
          </div>
          <div class="fc-field field__recycle-method-image">
            {{ recycle_method_image_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}