{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/products/configure/95584/edit
{% endcomment %}
{% if product.metafields.custom_fields["benefit_collection"] != blank %}
  <div class="custom-field custom-field__benefit-collection custom-field__type--collection-reference">
    <h3 class="custom-field--title">Benefit Collection</h3>
    <div class="custom-field--value">  
      {% assign collection_ref = collections[product.metafields.custom_fields["benefit_collection"]] %}
      {{ collection_ref.title | link_to: collection_ref.url }}
    </div>
  </div>
{% endif %}