{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/142104/edit
{% endcomment %}
{% if shop.metafields.custom_fields["press_logos"] != blank %}
  <div class="custom-field custom-field__press-logos custom-field__type--field-collection">
    <h3 class="custom-field--title">Press Logos</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign press_logo_array = shop.metafields.custom_fields["press_logo"] | split: separator %}
      {% assign fc_keys = shop.metafields.custom_fields["press_logos"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__press-logo">
            {{ press_logo_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}