{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/pages/configure/107156/edit
{% endcomment %}
{% if page.metafields.custom_fields["hero_background_color"] != blank %}
  <div class="custom-field custom-field__hero-background-color custom-field__type--text-list">
    <h3 class="custom-field--title">Hero Background Color</h3>
    <div class="custom-field--value">  
      {{ page.metafields.custom_fields["hero_background_color"] }}
    </div>
  </div>
{% endif %}