{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/pages/configure/112157/edit
{% endcomment %}
{% if page.metafields.custom_fields["page_callout_button_url"] != blank %}
  <div class="custom-field custom-field__page-callout-button-url custom-field__type--text">
    <h3 class="custom-field--title">Page Callout Button URL</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["page_callout_button_url"] }}
    </div>
  </div>
{% endif %}