{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/143332/edit
{% endcomment %}
{% if shop.metafields.custom_fields["collection_testimonials_title"] != blank %}
  <div class="custom-field custom-field__collection-testimonials-title custom-field__type--text">
    <h3 class="custom-field--title">Collection Testimonials Title</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["collection_testimonials_title"] }}
    </div>
  </div>
{% endif %}