{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/products/configure/146058/edit
{% endcomment %}
{% if product.metafields.custom_fields["install_image"] != blank %}
  <div class="custom-field custom-field__install-image custom-field__type--image">
    <h3 class="custom-field--title">Install Instructions Image</h3>
    <div class="custom-field--value">  
      {% include 'cf-image' with image: product.metafields.custom_fields["install_image"], print: 'url' %}
    </div>
  </div>
{% endif %}