{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/155700/edit
{% endcomment %}
{% if shop.metafields.custom_fields["mm_charge_up_img_url_m"] != blank %}
  <div class="custom-field custom-field__mm-charge-up-img-url-m custom-field__type--url">
    <h3 class="custom-field--title">Mega Menu Charge Up Image URL Mobile</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["mm_charge_up_img_url_m"] }}
    </div>
  </div>
{% endif %}