{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/products/configure/100646/edit
{% endcomment %}
{% if product.metafields.custom_fields["tips_custom_css_classes"] != blank %}
  <div class="custom-field custom-field__tips-custom-css-classes custom-field__type--text">
    <h3 class="custom-field--title">Tips Custom CSS Classes</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["tips_custom_css_classes"] }}
    </div>
  </div>
{% endif %}