{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/154750/edit
{% endcomment %}
{% if shop.metafields.custom_fields["mega_menu_charge_up_img_url"] != blank %}
  <div class="custom-field custom-field__mega-menu-charge-up-img-url custom-field__type--url">
    <h3 class="custom-field--title">Mega Menu Charge Up Image URL</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["mega_menu_charge_up_img_url"] }}
    </div>
  </div>
{% endif %}