{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/bebrilli.myshopify.com/globals/configure/145572/edit
{% endcomment %}
{% if shop.metafields.custom_fields["scientific_advisors_tit"] != blank %}
  <div class="custom-field custom-field__scientific-advisors-tit custom-field__type--text">
    <h3 class="custom-field--title">Scientific Advisors Title</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["scientific_advisors_tit"] }}
    </div>
  </div>
{% endif %}