{
    "name": "Image with text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "background-color",
        "label": "Background color",
        "default": "white-bg",
        "options": [
          {
            "value": "white-bg",
            "label": "White"
          },
          {
            "value": "tan-bg",
            "label": "Tan"
          },
          {
            "value": "blue-bg",
            "label": "Blue"
          }
        ]
      },
      {
        "type": "select",
        "id": "line-style",
        "label": "Line Style",
        "default": "line-style1",
        "options": [
          {
            "value": "line-style1",
            "label": "Style 1"
          },
          {
            "value": "line-style2",
            "label": "Style 2"
          },
          {
            "value": "line-style3",
            "label": "Style 3"
          },
          {
            "value": "line-style4",
            "label": "Style 4"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "checkbox",
        "id": "angle_top",
        "label": "Angled Top"
      },
      {
        "type": "checkbox",
        "id": "angle_bottom",
        "label": "Angled Bottom"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }