{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.pages.benefits_of_brilli' %}
  {% include 'custom_fields.pages.hero_section' %}
  {% include 'custom_fields.pages.hero_image' %}
  {% include 'custom_fields.pages.hero_mobile_image' %}
  {% include 'custom_fields.pages.hero_background_color' %}
  {% include 'custom_fields.pages.hero_css_classes' %}
  {% include 'custom_fields.pages.recycle_methods' %}
  {% include 'custom_fields.pages.continuation_callout' %}
  {% include 'custom_fields.pages.page_callout_text' %}
  {% include 'custom_fields.pages.page_callout_button_label' %}
  {% include 'custom_fields.pages.page_callout_button_url' %}
  {% include 'custom_fields.pages.open_graph' %}
  {% include 'custom_fields.pages.open_graph_title' %}
  {% include 'custom_fields.pages.open_graph_description' %}
  {% include 'custom_fields.pages.open_graph_image' %}
</div>