{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.product_catalog_name' %}
  {% include 'custom_fields.products.product_catalog_description' %}
  {% include 'custom_fields.products.product_detail_name' %}
  {% include 'custom_fields.products.product_cart_name' %}
  {% include 'custom_fields.products.product_uvp' %}
  {% include 'custom_fields.products.benefit_collection' %}
  {% include 'custom_fields.products.tips_title' %}
  {% include 'custom_fields.products.tips_body' %}
  {% include 'custom_fields.products.tips_image' %}
  {% include 'custom_fields.products.tips_bulb_image' %}
  {% include 'custom_fields.products.tips_custom_css_classes' %}
  {% include 'custom_fields.products.general_specifications' %}
  {% include 'custom_fields.products.specification_list' %}
  {% include 'custom_fields.products.collection_grid_image' %}
  {% include 'custom_fields.products.collection_overlay_image' %}
  {% include 'custom_fields.products.product_special_instructions' %}
  {% include 'custom_fields.products.requires_installation' %}
  {% include 'custom_fields.products.open_graph_title' %}
  {% include 'custom_fields.products.open_graph_description' %}
  {% include 'custom_fields.products.open_graph_image' %}
  {% include 'custom_fields.products.wellness_metrics' %}
  {% include 'custom_fields.products.product_unit_price' %}
  {% include 'custom_fields.products.wattage_products' %}
  {% include 'custom_fields.products.benefit_collection_hero_image' %}
  {% include 'custom_fields.products.related_products' %}
  {% include 'custom_fields.products.install_instructions_title' %}
  {% include 'custom_fields.products.install__skill_level' %}
  {% include 'custom_fields.products.install_time_required' %}
  {% include 'custom_fields.products.install_description' %}
  {% include 'custom_fields.products.install_instructions_steps' %}
  {% include 'custom_fields.products.install_image' %}
  {% include 'custom_fields.products.install_image_alt' %}
  {% include 'custom_fields.products.best_results_image' %}
  {% include 'custom_fields.products.best_results_image_alt' %}
</div>