{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.shop.product_trio_grid' %}
  {% include 'custom_fields.shop.shop_collections' %}
  {% include 'custom_fields.shop.porch_url' %}
  {% include 'custom_fields.shop.open_graph_title' %}
  {% include 'custom_fields.shop.open_graph_description' %}
  {% include 'custom_fields.shop.open_graph_image' %}
  {% include 'custom_fields.shop.open_graph_collections_title' %}
  {% include 'custom_fields.shop.open_graph_collections_descrip' %}
  {% include 'custom_fields.shop.open_graph_collections_image' %}
  {% include 'custom_fields.shop.press_logos' %}
  {% include 'custom_fields.shop.risk_reducers_title' %}
  {% include 'custom_fields.shop.risk_reducers_disclaimer' %}
  {% include 'custom_fields.shop.product_risk_reducer_icons' %}
  {% include 'custom_fields.shop.collection_testimonials_title' %}
  {% include 'custom_fields.shop.purchase_derisk_text' %}
  {% include 'custom_fields.shop.scientific_advisors_tit' %}
  {% include 'custom_fields.shop.scientific_advisors_desc' %}
  {% include 'custom_fields.shop.scientific_advisors' %}
  {% include 'custom_fields.shop.product_science_title' %}
  {% include 'custom_fields.shop.product_science_description' %}
  {% include 'custom_fields.shop.product_science_metrics_title' %}
  {% include 'custom_fields.shop.product_science_metrics' %}
  {% include 'custom_fields.shop.mega_menu_wind_down_subt' %}
  {% include 'custom_fields.shop.mega_menu_wind_down_desc' %}
  {% include 'custom_fields.shop.mega_menu_wind_down_img' %}
  {% include 'custom_fields.shop.mega_menu_wind_down_img_url' %}
  {% include 'custom_fields.shop.mm_wind_down_img_m' %}
  {% include 'custom_fields.shop.mm_wind_down_img_url_m' %}
  {% include 'custom_fields.shop.mega_menu_charge_up_subt' %}
  {% include 'custom_fields.shop.mega_menu_charge_up_desc' %}
  {% include 'custom_fields.shop.mega_menu_charge_up_img' %}
  {% include 'custom_fields.shop.mega_menu_charge_up_img_url' %}
  {% include 'custom_fields.shop.mm_charge_up_img_m' %}
  {% include 'custom_fields.shop.mm_charge_up_img_url_m' %}
  {% include 'custom_fields.shop.mega_menu_get_in_sync_subt' %}
  {% include 'custom_fields.shop.mega_menu_get_in_sync_desc' %}
  {% include 'custom_fields.shop.mega_menu_get_in_sync_img' %}
  {% include 'custom_fields.shop.mega_menu_get_in_sync_img_url' %}
  {% include 'custom_fields.shop.mm_get_in_sync_img_m' %}
  {% include 'custom_fields.shop.mm_get_in_sync_img_url_m' %}
  {% include 'custom_fields.shop.mega_menu_look_up_subt' %}
  {% include 'custom_fields.shop.mega_menu_look_up_desc' %}
  {% include 'custom_fields.shop.mega_menu_look_up_img' %}
  {% include 'custom_fields.shop.mega_menu_look_up_img_url' %}
  {% include 'custom_fields.shop.mm_look_up_img_m' %}
  {% include 'custom_fields.shop.mm_look_up_img_url_m' %}
  {% include 'custom_fields.shop.mega_menu_learn_subt' %}
  {% include 'custom_fields.shop.mega_menu_learn_desc' %}
  {% include 'custom_fields.shop.mega_menu_learn_img' %}
  {% include 'custom_fields.shop.mega_menu_learn_img_url' %}
  {% include 'custom_fields.shop.risk_reducer_icon_url' %}
</div>