<div class="full_width">
  <div class="metricpage-width">
    {% if section.settings.heading != blank %}
      <div class="section__header title-holder aa">
        <h2><small><strong>{{section.settings.heading}}</strong></small></h2>
      </div>
      {% endif %}
    <div class="metrics">
      {% for block in section.blocks %}
      <div class="metric_part">
        {% if block.settings.image != blank %}
        	<img src="{{block.settings.image | img_url: '1024x'}}"/>
        {% endif %}
        {% if block.settings.text != blank %}
        	{{block.settings.text}}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Metrics science",
    "settings": [
		{
          "type": "text",
          "id": "heading",
          "label": "Heading"
  		}
	],
  	"blocks": [
    {
      "type": "Image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
		},
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
  	]
  }
],
	"presets": [{
        "name": "Metrics science",
        "category": "Science"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
