<section class="image-with-text tan-bg line-style1 mobile_text_position_center_top mobile_text_alignment_center mobile_image_size_small image-right bulb_style_none animation_style_none watts-of-love animation-frame-1">
  <div class="circuitry circuit_style_none "></div>
  <div class="inner">
    <div class="glow_bg"></div>
    <div class="image__image" data-animation-frame-count="1">
        <div class="image desktop" style="background-image: url('https://cdn.shopify.com/s/files/1/0033/6474/9361/files/watts-of-love3.jpg?v=1583865287'); background-position: 0px 0%;"></div>
        <div class="image mobile" style="background-image: url('https://cdn.shopify.com/s/files/1/0033/6474/9361/files/watts-of-love3.jpg?v=1583865287'); background-position: 0px 0%;"></div>
    </div>
    <div class="image-with-text__text">
      <div class="inner">
          <h2><small>Changing the world,</small><br> ONE LIGHT AT A TIME</h2>
          <div><p>Through our partnership with Watts of Love, every Brilli purchase brings light to a community that lacks access to resources <br>like electricity, education and economic independence. Because we believe that light <br>is vital to life, and that light should shine equally on all.</p></div>
      </div>
    </div>
  </div>
</section>