<div class="full_width1">
  <div class="inner proven_result">
    <h2>proven results</h2>
    <div class="customer_result">
      <div class="result">
        <h2>84%<br><small>of users reported <br> falling asleep faster</small></h2>
      </div>
      <div class="result">
        <h2>92%<br><small>of users reported <br> improved mood</small></h2>
      </div>
      <div class="result">
        <h2>88%<br><small>of users reported <br> waking up easier</small></h2>
      </div>
    </div>
    <p class="yellow_text">Source: Third-party study conducted by The Benchmarking Company, February 2020.</p>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
