<div class="full_width_blue">
  <div class="inner proven_result">
    <h2>proven results</h2>
    <div class="customer_result">
      <div class="result">
        <h2>92%<br><small>of users reported <br> feeling more alert</small></h2>
      </div>
      <div class="result">
        <h2>86%<br><small>of users reported <br> feeling more energized</small></h2>
      </div>
      <div class="result">
        <h2>86%<br><small>of users reported <br> feeling more focused</small></h2>
      </div>
    </div>
    <p class="blue_text">Source: Third-party study conducted by The Benchmarking Company, February 2020.</p>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
