<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
  div#shopify-section-science-slider {
    background: #f5f5f5;
}
  div#shopify-section-science-slider .HomeHeroscience .innerwrap {
    max-width: 1240px;
    margin: 0 auto;
}
  .HomeHeroscience .image__image {
    width: 100%;
    height: 535px;
}
.HomeHeroscience .image__image .image {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
section.HomeHeroscience .inner .image-with-text__text {  
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
  }
  section.HomeHeroscience .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}
  section.HomeHeroscience .inner .image-with-text__text h1 {
    font-size: 65px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}
  section.HomeHeroscience .inner .image-with-text__text h1 span.smallletters {
    font-size: 56px;
    font-weight: 400;
    line-height: 90px;
    text-transform: none;
    letter-spacing: 0;
}
  .title-holder p {
    color: #000;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
}
.image_part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: table-cell;
}
  .image_part {
    width: 100%;
    display: table;
}
  .image_text {
    position: relative;
}
  .text_part {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
  .innerwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
  .image-with-text__text, ul.science_slider {
    width: 40%;
}
  ul.science_slider {
    width: 100%;
    position: unset;padding: 0;margin: 0 auto 50px;
}
  .science_sliderdiv {
    width: 55%;position: relative;
}
  * {outline: none!important;}
  ul.science_slider button.slide-arrow.slick-arrow {
    position: absolute;
    bottom: -30px;
    z-index: 9;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 50px;
    color: #A7A093;
    padding: 0;
}
  ul.science_slider button.slide-arrow.next-arrow.slick-arrow {
    right: 40%;
    transform: translateX(-25%);
}
  section.HomeHeroscience2 .image img, section.HomeHeroscience1 .image img {
    display: table-cell;
}
  section.HomeHeroscience1 .image, section.HomeHeroscience2 .image {
    display: table;
    width: 100%;
}
  ul.science_slider button.slide-arrow.prev-arrow.slick-arrow {
    left: 40%;
    transform: translateX(-25%);
}
  .title-holder.text-center {
    text-align: center;
}
  .title-holder h3 {
    margin: 0;
    font-size: 30px;
    text-transform: none;
    text-align: center;
}
  .title-holder h1 {
    margin: 0;
    font-size: 65px;
}
  li.scientist__item .card {
    background: #fff;
    margin: 0 5px;
    text-align: center;
    padding: 40px 25px 0;
    min-height: 340px;
    max-width: 320px;
}
  img.logo-bar__image {
    max-width: 25%;
    margin: 0 auto;
}
  .person_text {
    width: 100%;
    margin: 0 auto;
}
  .person_text p strong {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
  .metricpage-width {
    width: 1000px;
    margin: 40px auto;
}
  .metrics {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
  .metric_part {
    width: 25%;
    display: flex;
    flex-flow: column wrap;
}
  .metric_part img {
    width: 85px;
    margin: 0 auto;
}
  .metric_part p {
    text-align: center;
    margin-top: 7px;
}
  .section__header h3 {
    text-align: center;
    padding: 30px 0;
    letter-spacing: 0;
    padding-bottom: 15px;
}
   .feature_part {
    width: 33.3333%;
    display: flex;
    flex-flow: column wrap;
}
  .feature_part img {
    width: 85px;
    margin: 0 auto;
}
  .feature_part p {
    text-align: center;
    margin-top: 7px;
}
  .section__header p {
    max-width: 100%;
    text-align: center;
    margin-top: 0;
}
  .features {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    max-width: 65%;
    margin: 0 auto;
}
  .inner2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .image__image2, .image__image1, .image-with-text__text2, .image-with-text__text1 {
    width: 50%;
}
  .image__image1 {
    order: 2;
}
  .text_column .rte {
    text-align: center;
    max-width: 100%;
}
  .text_column .rte p {
    max-width: 100%;
}
  .text_part h1 {
    font-weight: 400;
    font-size: 61px;
}
  .padding_custom {
    width: 85%;
    margin: 0 auto;
}
    .padding_custom1 {
    width: 96%;
}
  .inner2 .title-holder p {
    max-width: 100%;
}
  h1.cstm {
    text-transform: uppercase;
}
  .title-holder.text-center p {
    text-align: center;
}
  h3.txt p strong {
    font-size: 28px;
}
  .CollectionListItem .text-wrap h3 p {
    font-size: 19px;
    letter-spacing: -.04em;
}
  .width___science p {
    max-width: 90%;
}
  .content_width {
    max-width: 1200px;
    margin: 0 auto;
}
  .aa h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
}
  .width___science h2 {
    text-align: center;
}
  .scientist__item .text-wrap h3{
    font-family: Roboto,sans-serif;
    text-transform: none;
    letter-spacing: 0;
    font-size: 20px;
    margin-top: 1.3em;
    margin-bottom: 0;
    color: #000;
  }
  .person_text p {
    margin-top: 0;
}
  @media (min-width: 768px) {
.HomeHeroscience .image__image {
    width: 50%;
    height: 50vw;
    max-height: 700px;order: 2;
}
    .HomeHeroscience .image__image .image {
    background-position: 50%;
}
    section.HomeHeroscience .inner .image-with-text__text {
    width: 50%;
    position: relative;padding: 15px;
}
    .medium-up--hide{display: none;}
    
    div#shopify-section-science-slider {
    background: #f5f5f5;
}
  div#shopify-section-science-slider .HomeHeroscience .innerwrap {
    padding: 79px 20px 50px;
  }
    div#shopify-section-science-slider .HomeHeroscience .innerwrap .image-with-text__text {
    padding: 0 30px 0 10px;
}
div#shopify-section-science-slider .HomeHeroscience .innerwrap .image-with-text__text {
    width: 45%;
}
    div#shopify-section-science-slider .HomeHeroscience .innerwrap .image-with-text__text .title-holder p {
    max-width: 700px;
    padding: 0 15px;
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: .025em;
}
}
@media only screen and (max-width: 767px) {
  .small--hide{display: none;}
	 section.HomeHeroscience .inner .image-with-text__text {
    position: unset;    padding: 50px 0 30px;
     }
  .text_part {
    display: none;
}
  .HomeHeroscience .image__image {
    width: 100%;
    height: 535px;
    order: 2;
}
  .title-holder h3 {
    margin: 0;
    font-size: 22px;
}
  section.HomeHeroscience .inner .image-with-text__text h1 {
    font-size: 45px;
    padding: 0 50px;
}
  .title-holder p {
    max-width: 86%;
    margin: 10px auto;
}
  p {
    line-height: 1.5;
}
  .image-with-text__text, ul.science_slider, .science_sliderdiv {
    width: 100%;
}
  .innerwrap {
    display: block;
  }
  .metricpage-width {
    width: 100%;
}
  .metric_part {
    width: 50%;
  }
  .section__header.title-holder {
    margin-bottom: 25px;
}
  .section__header h3 {
    margin-bottom: 20px !important;
    padding: 0 50px;
}
  .features {
    max-width: 88%;
  }
  .feature_part img {
    width: 70%;
}
  .padding_custom1 {
    width: 86%;
    margin: 0 auto;
}
  .image__image2, .image__image1, .image-with-text__text2, .image-with-text__text1 {
    width: 100%;
}
  .inner2 {
    display: block;
}
  .padding_custom {
    width: 90%;
}
  ul.science_slider button.slide-arrow.slick-arrow {
    bottom: -70px;
  }
  section.HomeHeroscience.HomeHeroscience_scientists .innerwrap {
    padding-bottom: 80px;
}
  .image-with-text__text2, .image-with-text__text1 {
    padding: 50px 0 30px;
}
  section.CollectionList.text_column {
    padding-bottom: 50px;
}
  li.scientist__item .card {
    margin: 0 auto;
  }
}
</style>
<script>
$( document ).ready(function() {
  $('.science_slider').slick({
  dots: false,
  infinite: true,
  speed: 300,
  slidesToShow: 2,
  slidesToScroll: 1,
    prevArrow: '<button class="slide-arrow prev-arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></button>',
    nextArrow: '<button class="slide-arrow next-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></button>',
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
});
  
  
</script>
{% section 'textoverlayhero' %}
{% section 'hero-image-science' %}
{% section 'science-slider' %}
{% section 'metric-science' %}
{% section 'feature-science' %}
{% section 'text-image-science' %}
{% section 'text-image-science-1' %}
{% section 'text-column-science' %}

<!-- <div class="page-body">
  <div class="TitleWrap">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="rte">
    {{ page.content }}
  </div>
</div> -->