<div class="page-body">
  <section class="angle--bottom-right">
    <div class="cover">
      <div class="glow_bg"></div>
      <div class="image-block">
        <div class="image-top mobile" style="background-image: url('https://cdn.shopify.com/s/files/1/0033/6474/9361/files/quiz-intro-light.png?28870')"></div>
        <div class="image-bottom mobile" style="background-image: url('https://cdn.shopify.com/s/files/1/0033/6474/9361/files/quiz-dog-chair.png?28870')"></div>
        <div class="image desktop" style="background-image: url('https://cdn.shopify.com/s/files/1/0033/6474/9361/files/quiz-intro.png?19233');"></div>
      </div>
      <div class="text-block">
          <div class="t-cover-info">
              <div class="w-title"><h1>{{ page.title }}</h1></div>
              <div class="w-subtitle">{{ page.content }}</div>
              <div class="button-holder">
                <a class="button outline large" id="chat-btn" href="https://bebrilli.zendesk.com/hc/en-us/requests/new?ticket_form_id=360000510831">Let’s Chat</a>
                <a class="button outline large" id="start-btn" href="/pages/quiz">Take the Quiz</a>
              </div>
          </div>
      </div>
    </div>
  </section>
</div>    